@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
    --primary-color: #c33149;
    --secondary-color: #c29979;
    --emphasis-color: #f3d9b1;
    --button-color: #a8c256;
    --light-font-color: #ffffff;
    --font-color: #333333;
    --background-color: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light-font-color);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #333333;
}

header {
    background-color: var(--primary-color);
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 2em;
    color: #ffffff;
    gap: 2em;
}

.header .logo-container .logo {
    filter: invert();
    width: 100%;
    min-width: 10em;
    max-height: 3.5em;
}

.search-container {
    position: relative;
    display: inline-block;
    flex: 1;
    min-width: 14em;
    width: 100%;
}

.search {
    border: none;
    width: 100%;
    border-radius: 0.5em;
    padding: .5em;
    color: #333333;
    padding-left: 4em;
    font-size: 1em;
}

.search::placeholder {
    color: #999;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 1.5em;
    transform: translateY(-50%);
    color: #999;
}

.elements-main-menu {
    list-style-type: none;
    display: flex;
    gap: 1em;
}

.elements-main-menu li a {
    color: var(--light-font-color);
    text-decoration: none;
    position: relative;
}

.elements-main-menu li a:hover {
    color: var(--secondary-color);
}

.elements-main-menu li a::after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: .10em;
    width: 0;
    top: calc(100% + .25em);
    left: 0;
    transition: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}

.elements-main-menu li a:hover::after {
    width: 100%;
}

.elements-main-menu li a.selected::after {
    width: 100%;
}

.elements-main-menu li a.selected {
    color: var(--secondary-color);
}

.personal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.login-button {
    font-size: 1em;
    font-weight: bold;
    color: var(--font-color);
    text-decoration: none;
    background-color: var(--emphasis-color);
    padding: 0.6em;
    border: none;
    transition: all .2s ease-in-out;
}

.login-hidden {
    display: none;
}

.login-button:hover {
    color: #000000;
    background-color: var(--secondary-color);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}

.profile svg {
    filter: invert();
    background-color: #999999;
    padding: 0.3em;
    border-radius: 50%;
}

.profile a {
    display: flex;
    gap: 0.3em;
    text-decoration: none;
    color: var(--light-font-color);
    transition: color 0.1s ease-in-out;
}

.profile a:hover {
    color: var(--secondary-color);
}

.profile p a i {
    font-size: 0.7em;
}

.popup {
    display: none;
}

/* Responsive para distintos tipos de pantallas de computadoras */

@media screen and (max-width: 1339px) {
    body {
        font-size: 16px;
    }
    .header .logo-container .logo {
        max-height: 3em;
    }
    .login-button {
        max-height: 2em;
    }
}

@media screen and (max-width: 1142px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width: 1000px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width: 929px) {
    .profile p {
        display: none;
    }
}

/* Responsive para celulares */

@media screen and (max-width: 834px) {
    body {
        font-size: 14px;
    }

    .main-menu {
        display: none;
    }

    .personal {
        display: none;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5em 1em 1em;
        margin: 0;
        gap: 0.5em;
    }

    .header .logo-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    /* Menú que cambia a dropdown o hamburguesa */

    .popup {
        display: inline-block;
        text-rendering: optimizeLegibility;
        position: relative;
        z-index: 3;
        --burger-line-width: 1.125em;
        --burger-line-height: 0.125em;
        --burger-offset: 0.625em;
        --burger-bg: var(--background-color);
        --burger-color: var(--font-color);
        --burger-line-border-radius: 0.1875em;
        --burger-diameter: 2.125em;
        --burger-btn-border-radius: calc(var(--burger-diameter) / 2);
        --burger-line-transition: .3s;
        --burger-transition: all .1s ease-in-out;
        --burger-hover-scale: 1.1;
        --burger-active-scale: .95;
        --burger-enable-outline-color: var(--burger-bg);
        --burger-enable-outline-width: 0.125em;
        --burger-enable-outline-offset: var(--burger-enable-outline-width);
        /* Elementos del menú */
        --nav-padding-x: 0.25em;
        --nav-padding-y: 0.625em;
        --nav-border-radius: 0.375em;
        --nav-border-color: #ccc;
        --nav-border-width: 0.0625em;
        --nav-shadow-color: rgba(0, 0, 0, .2);
        --nav-shadow-width: 0 1px 5px;
        --nav-bg: #eee;
        --nav-font-family: 'Lato', sans-serif;
        --nav-default-scale: .8;
        --nav-active-scale: 1;
        --nav-position-left: 0; /* Dirección hacia la izquierda*/
        --nav-position-right: unset;  /* Dirección hacia la derecha */
        /* Título */
        --nav-title-size: 0.750em;
        --nav-title-color: #777;
        --nav-title-padding-x: 1em;
        --nav-title-padding-y: 0.25em;
        /* Botón */
        --nav-button-padding-x: 1em;
        --nav-button-padding-y: 0.375em;
        --nav-button-border-radius: 0.375em;
        --nav-button-font-size: 1em;
        --nav-button-hover-bg: var(--primary-color);
        --nav-button-hover-text-color: var(--light-font-color);
        --nav-button-distance: 0.875em;
        /* Línea inferior */
        --underline-border-width: 0.0625em;
        --underline-border-color: #ccc;
        --underline-margin-y: 0.3125em;
    }
    
    .popup input {
        display: none;
    }
    
    .burger {
        display: flex;
        position: relative;
        align-items: center;
        justify-content: center;
        background: var(--burger-bg);
        width: var(--burger-diameter);
        height: var(--burger-diameter);
        border-radius: var(--burger-btn-border-radius);
        border: none;
        cursor: pointer;
        overflow: hidden;
        transition: var(--burger-transition);
        outline: var(--burger-enable-outline-width) solid transparent;
        outline-offset: 0;
    }
    
    .burger span {
        height: var(--burger-line-height);
        width: var(--burger-line-width);
        background: var(--burger-color);
        border-radius: var(--burger-line-border-radius);
        position: absolute;
        transition: var(--burger-line-transition);
    }
    
    .burger span:nth-child(1) {
        top: var(--burger-offset);
    }
    
    .burger span:nth-child(2) {
        bottom: var(--burger-offset);
    }
    
    .burger span:nth-child(3) {
        top: 50%;
        transform: translateY(-50%);
    }
    
    .popup-window {
        transform: scale(var(--nav-default-scale));
        visibility: hidden;
        opacity: 0;
        position: absolute;
        padding: var(--nav-padding-y) var(--nav-padding-x);
        background: var(--nav-bg);
        font-family: var(--nav-font-family);
        color: var(--nav-text-color);
        border-radius: var(--nav-border-radius);
        box-shadow: var(--nav-shadow-width) var(--nav-shadow-color);
        border: var(--nav-border-width) solid var(--nav-border-color);
        top: calc(var(--burger-diameter) + var(--burger-enable-outline-width) + var(--burger-enable-outline-offset));
        left: var(--nav-position-left);
        right: var(--nav-position-right);
        transition: var(--burger-transition);
    }
    
    .popup-window legend {
        padding: var(--nav-title-padding-y) var(--nav-title-padding-x);
        margin: 0;
        color: var(--nav-title-color);
        font-size: var(--nav-title-size);
        text-transform: uppercase;
    }
    
    .popup-window ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .popup-window ul button {
        outline: none;
        width: 100%;
        border: none;
        background: none;
        display: flex;
        align-items: center;
        color: var(--burger-color);
        font-size: var(--nav-button-font-size);
        padding: var(--nav-button-padding-y) var(--nav-button-padding-x);
        white-space: nowrap;
        border-radius: var(--nav-button-border-radius);
        cursor: pointer;
        column-gap: var(--nav-button-distance);
    }
    
    .popup-window ul li:nth-child(1) svg,
    .popup-window ul li:nth-child(2) svg {
        color: var(--secondary-color);
    }
    
    .popup-window ul li:nth-child(4) svg,
    .popup-window ul li:nth-child(5) svg {
        color: rgb(2, 99, 128);
    }
    
    .popup-window ul li:nth-child(7) svg {
        color: red;
    }
    
    .popup-window hr {
        margin: var(--underline-margin-y) 0;
        border: none;
        border-bottom: var(--underline-border-width) solid var(--underline-border-color);
    }
    
    /* Configuración de las acciones que hace el menu desplegable */
    
    .popup-window ul button:hover,
    .popup-window ul button:focus-visible,
    .popup-window ul button:hover svg,
    .popup-window ul button:focus-visible svg {
        color: var(--nav-button-hover-text-color);
        background: var(--nav-button-hover-bg);
    }
    
    .burger:hover {
        transform: scale(var(--burger-hover-scale));
    }
    
    .burger:active {
        transform: scale(var(--burger-active-scale));
    }
    
    .burger:focus:not(:hover) {
        outline-color: var(--burger-enable-outline-color);
        outline-offset: var(--burger-enable-outline-offset);
    }
    
    .popup input:checked+.burger span:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    
    .popup input:checked+.burger span:nth-child(2) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
    }
    
    .popup input:checked+.burger span:nth-child(3) {
        transform: translateX(calc(var(--burger-diameter) * -1 - var(--burger-line-width)));
    }
    
    .popup input:checked~nav {
        transform: scale(var(--nav-active-scale));
        visibility: visible;
        opacity: 1;
    }
    }